h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
p, div {
    font-family: 'Open Sans';
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}